:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  font-weight: 500;
  color: #646cff;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

h1 {
  padding-left: 1em;
  font-size: 1.1em;
  line-height: 1.1;
}

#source, #predicates, #tests {
  height: 600px;
  resize: both;
  overflow: auto;
}

#source {
  border-right: 1px dashed #888;
  flex-grow: 2;
  max-width: 400px;
}

#predicates, #tests {
  flex-grow: 3;
}

#footer {
  display: block;
  padding: 1em 1em 0 1em;
  text-align: center
}
